* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #e083ec 0%, #a71da0 100%);
  color: #000;
  font-family: "Poppins", sans-serif;
}

.todo-item {
  
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/* Transition
.select:hover::after {
  transform: scale(1.5);
}
*/